<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Powerball", root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Powerball", root_path %></li>
        <li><%= link_to "megaball", megaball_path %></li>
      </ul>
    </nav>
  </div>
</header>